#root {
    max-width: 1280px;
    /* width:100%; */
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family:'Lexend Deca', sans-serif;
    background-color: #121215;
    /* overflow: hidden; */
  
  }
  .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .header button{
    background-color: rgb(125, 90, 242);
    color:#dfe0fb;
    /* padding: 15px; */
    width: fit-content;
  }
  .logot{
    margin: 0;
    padding: 0;
    height:4rem;
  }
  .count-pending{
    background-color: #dfe0fb;
    color: rgb(125, 90, 242);
    border-radius: 1000px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    font-size: 0.7rem;
    padding:2px 5px;
    margin-left: 5px;
  }
  .d-none{
    display: none;
  }
  .heading{
    color: rgb(125, 90, 242);
    font-weight: 550;
  }
  .input_div{
    background-color: #18181c;
    display: flex;
    width: 60vw;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    justify-content: center;
    /* background: #666; */
  }
  .addBtn{
    background-color: rgb(125, 90, 242);
    color:#dfe0fb;
    width: fit-content;
  }
  .txtLight{
    color:#dfe0fb;
  }
  .title-input{
    background-color: #454254;
    border: 1px solid rgba(1,1,1,0.2);
    border-radius: 5px;
    width: 30%;
    margin: 0px 10px;
    padding: 0 20px;
    font-size: large;
    color: #edeeff;
    
  }
  .title-input::placeholder{
    color:#dfe0fb88
  }
  .desc-input::placeholder{
    color:#dfe0fb88
  }
  .desc-input{
    background-color: #454254;
    border: 1px solid rgba(1,1,1,0.2);
    border-radius: 5px;
    width: 50%;
    margin: 0px 10px;
    color: #eeeeff;
    padding: 0 20px;
    font-size: large;
  }
  .tabDiv{
    display: flex;
    justify-content: center;
  }
  .secondaryBtn{
    background-color: #454254;
    color: #dfe0fb;
    margin: 0px 10px;
    display: flex;
  }
  .active{
    background-color: rgb(125, 90, 242);
    color:#dfe0fb;
    
  }
  .list_div{
    /* background-color: rgb(166, 165, 165); */
    min-height: 40vh;
    max-height: 40vh;
    padding: 15px;
    margin-top: 10px;
    width: 60vw;
    overflow-y: scroll;
    background-color: #18181c;
    border-radius: 10px;
  }
  ::-webkit-scrollbar {
    width: 2px;
    background-color: #454254;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #edeeff; 
    border-radius: 10px;
  }
  .list_item{
    background-color: #454255;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid rgba(0, 0, 0, 0.468); */
    border-radius: 10px;
    margin-bottom: 20px;
    /* height: 15vh; */
    box-shadow:#121215 ;
  }
  .toDoItemDetail{
    text-align: left;
    padding-left: 15px;
    margin-left: 10px;
    color: #dfe0fb;
    width:40vw;
    /* background-color: #535066; */
    /* border-radius: 0 10px 10px 0; */
  }
  .toDoItemDetail h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
  }
  .toDoItemDetail p{
    color: #eeeeff66;
    margin: 0;
  }
  .toDoItemDetail p small{
    color: #eeeeff33;
    font-size: smaller;
    margin: 0;
  }
  .toDoBtnDiv{
    display: flex;
    justify-content: space-between;
    /* width: 25%; */
  }
  .doneBtn{
    background: none;
    /* height: 40%; */
    width: fit-content;
  }
  .doneBtn:hover{
    border:1px solid rgba(1,1,1,0.001) ;
  }
  .doneBtn svg{
    width: 30px;
  }
  .strike{
    text-decoration: line-through;
  }
  @media(max-width: 480px) {
    .heading{
      font-size: 2rem;
    }
    .input_div{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width:80vw;
      height: 30vh;
      margin-top: 20px;
    }
    .title-input{
      /* align-items: center; */
      width: 60vw;
      height: 1.5rem;
      margin: 0;
      /* padding: 0; */
    }
    .desc-input{
      width: 60vw;
      height: 1.5rem;
      margin: 0;
    }
    .addBtn{
      margin: 0 auto;
    }
    .list_div{
      width: 80vw;
      margin-bottom: 20px;
    }
    .tabDiv{
      margin: 0 auto;
      width:50vw;
    }
    .secondaryBtn{
      width: fit-content;
      font-size: 0.85rem;
    }
    .count-pending{
      font-size: 0.6rem;
    }
    .list_item{
      padding-top: 20px;
      /* font-size: 0.5rem; */
      width: 70vw;
      height: fit-content;
      flex-direction: column;
      margin-bottom: 20px;
    }
    .toDoBtnDiv{
      height: 20vh;
      display: flex;
      justify-content: space-between;
      width: 40vw;
    }
  }
  